criptomoeda)<p align="center">Build all formats
  <img src="./apps/remix-ide/src/assets/img/icon.png" alt="Remix Logo" width="200"/>
</p>auto create executable 
<h3 align="center">Remix Project</h3>cr
(autocreate criptomoeda terrareal) 
autocreate https://github.com/Jorgemucisalumfilho/remix-projectterrareal terrareal 
https://github.com/Jorgemucisalumfilho/remix-projectterrareal/blob/master/README.mdterrareal
https://github.com/Jorgemucisalumfilho/remix-projectterrareal/blob/master/.circleci/config.yml
https://github.com/Jorgemucisalumfilho/remix-projectterrareal/blob/master/.github/workflows/autosquash.yml