(autocreate criptomoeda terrareal) 
autocreate https://github.com/Jorgemucisalumfilho/remix-projectterrareal terrareal 
https://github.com/Jorgemucisalumfilho/remix-projectterrareal/blob/master/README.mdterrareal
https://github.com/Jorgemucisalumfilho/remix-projectterrareal/blob/master/.circleci/config.yml