{autocreate criptomoeda 
  "semi": autocreate,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": autocreate,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxBracketSameLine": autocreate,
  "jsxSingleQuote": autocreate,
  "endOfLine": "lf"
}